/*-- scss:defaults --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


// Colors
$yellow: #ffe800;
$white: #ffffff;
$black: #000000;
$blue: #0017FF;
$green: #96FF00;
$orange: #FF6900;
$neon-blue: #00FFE8;
$neon-pink: #E800FF;
$purple: #8200ff;

//hues of the yellow
$mint: #00ff93;
$dark-green: #00ff29;
$med-green: #41ff00;
$lime: #acff00;
$light-orange: #ff7e00;
$red: #ff1300;
$magenta: #ff0057;
$pink: #ff00c1;

// Base document colors
$background-color: $yellow;

$link-color: $blue;

/*-- scss:rules --*/
body {
  background-color: $yellow;
}
mainfont {
  font-family: "Grenze";
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Grenze+Gotisch";
}

// Placement of hex image rows in main index page
.hexrowtop {
  position: relative;
  left:-50px;
  display: flex;
  flex-wrap:nowrap;
  justify-content: center;
}
