@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Grenze:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.book.font-family-1 {
  font-family: "Grenze", serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
 }
.summary{
  font-family: "Grenze Gotisch", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 16px;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Grenze Gotisch", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 20px;
  font-style: normal;
}

body {
  !important;background-color: #ffe800;
}

.book .book-body .page-wrapper .page-inner{
  max-width:1000px !important;margin:0 auto;padding:20px 0 40px
}
@media (max-width:1440px){
  .book .book-body .navigation{
    position:static;top:auto;max-width:50%;width:50%;display:inline-block;float:left
  }
  .book .book-body .navigation.navigation-unique{
  max-width:100%;width:100%
  }
}
@media (max-width:1440px){
  .book .book-body{
    -webkit-transition:-webkit-transform 250ms ease;-moz-transition:-moz-transform 250ms ease;-o-transition:-o-transform 250ms ease;transition:transform 250ms ease;padding-bottom:20px
  }
  .book .book-body .body-inner{
    position:static;min-height:calc(100% - 50px)
  }
}
